name: Measure coverage

on:
  push:
    branches: [ "dev" ]
  pull_request:
    branches: [ "dev" ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v5
    - name: Set up JDK 21
      uses: actions/setup-java@v5
      with:
        java-version: '21'
        distribution: 'temurin'
        architecture: x64
        cache: maven
        
    - name: Run Coverage
      run: mvn test

    - name: Add coverage to PR
      id: jacoco
      uses: madrapps/jacoco-report@v1.7.2
      with:
        paths: |
          ${{ github.workspace }}/report/target/site/jacoco-aggregate/jacoco.xml
        token: ${{ secrets.GH_TOKEN }}
        min-coverage-overall: 40
        min-coverage-changed-files: 60

    - name: Generate JaCoCo Badge
      id: jacoco-badge
      uses: cicirello/jacoco-badge-generator@v2
      with:
        generate-branches-badge: true
        jacoco-csv-file: >
          report/target/site/jacoco-aggregate/jacoco.csv

    - name: Log coverage percentage
      run: |
        echo "coverage = ${{ steps.jacoco-badge.outputs.coverage }}"
        echo "branches = ${{ steps.jacoco-badge.outputs.branches }}"
